<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Student Forum</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Regno</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody th:each="student : ${students}">
                <tr>
                    <td th:text="${student.regNo}"></td>
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.lastName}"></td>
                    <td th:text="${student.email}"></td>
                    <td th:text="${student.department}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>